
ProyectoDia/ProyectoDia.userprefs
ProyectoDia/ProyectoDia.userprefs
*.userprefs
ProyectoDia/IntegracionFinal/.vs/Final/v15/Server/sqlite3/storage.ide
ProyectoDia/IntegracionFinal/.vs/Final/v15/Server/sqlite3/db.lock
ProyectoDia/IntegracionFinal/.vs/Final/v15/.suo
ProyectoDia/IntegracionFinal/.vs/Final/v15/Server/sqlite3/storage.ide-shm
ProyectoDia/IntegracionFinal/.vs/Final/v15/Server/sqlite3/storage.ide-wal
